// global variables
$yellow-color: #fab915;
$text-color: #999999;
$white-color: #ffffff;

// font variables
$main-font-url: "../fonts";
$regular-font: "vazir";
$medium-font: "vazir-medium";
$bold-font: "vazir-bold";

// grid system
$grid-column-count: 12;